<ion-app>
    <!-- Seção 4 - 73 -->
    <!-- ⏳ ⏳⏳ Ionic-split-pane ⏳⏳⏳-->
    <!-- <app-menu></app-menu> -->

    <ion-split-pane contentId="principal" when="md">

        <ion-menu side="start" menuId="primeiroMenu" contentId="principal">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu Components</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <!-- ion-menu-toggle Fecha o menu quando clico em um icone rota -->
                    <ion-menu-toggle autoHide="false" *ngFor="let menu of componentes | async" [routerLink]="menu.redirectTo">
                        <ion-item>
                            <ion-icon slot="start" [name]="menu.icon"> </ion-icon>
                            <ion-label> {{menu.name}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="principal"></ion-router-outlet>
    </ion-split-pane>

</ion-app>