<ion-header no-border>
    
  <ion-toolbar>
        <ion-buttons slot="start">  <!--  start center end -- posição do botão voltar -->
            <ion-back-button text="Voltar" defaultHref="/"></ion-back-button> <!-- defaultHref="/" carrega na página principal -->
        </ion-buttons>
    <ion-buttons slot="start">
     
        <ion-buttons slot="start">
                <ion-back-button default="/"></ion-back-button>
            </ion-buttons>
        </ion-buttons>

    <ion-title>Search Bar</ion-title>
  </ion-toolbar>

  <ion-searchbar animated
    placeholder="Filter Pizza" (ionChange)="onSearchChange($event)" [debounce]="250">

  </ion-searchbar>

</ion-header>



<ion-content>
    <ion-list>
        <ion-item *ngFor="let album of albums | filtro: textoBuscar: 'title' ">
            <ion-label>{{album.title}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
